<ul>
{% for movie in data -%}
	<li>
		<p>
			<b class="data-rating-{{ movie.rating }}">
				{{ movie.title }}
				{%- if movie.rating == 'awesome' %}
					<span class="rating-icon glyphicon glyphicon-star"></span>
				{%- elif movie.rating == 'dislike' %}
					<span class="rating-icon glyphicon glyphicon-thumbs-down"></span>
				{%- elif movie.rating == 'want' %}
					<span class="light">— want to watch —</span>
				{% endif %}
			</b>
			{%- if movie.release or movie.timestamp -%}
				<span class="light">
					({%- if movie.release %}{{ movie.release }}{% endif -%}
					{%- if movie.release and movie.timestamp %}, {% endif -%}
					{%- if movie.timestamp %}{{ movie.timestamp }}{% endif -%})
				</span>
			{%- endif -%}
			{%- if movie.comment %}</p><p>{{ movie.comment }}{% endif -%}<br>
		</p>
	</li>
{% endfor %}
</ul>
